# EASM REST API Configuration

# Storage Type Selection: "true" to use MySQL database, "false" to use In-Memory storage
USE_DB=true

# Database Credentials & Connection Details
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=mini_asm
